* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    /*    background: #f9f2f4;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: auto;
    width: 100vw;
    height: auto;
}

body .container {
    width: 100vw;
    margin: auto;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}
/*navigation*/
.nav-center,
.center{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.nav {
    background: #292c2f;
    min-height: 20px;
    position:fixed;
    width: 100vw;
    top: 0;
    z-index: 999;
}

.nav .left {
    float: left;
    margin-left: -6.5%;
}

.nav .left li {
    font-size: 14px;
    float: left;
}

.nav .left li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .left li a:hover {
    background: #f2f2f2;
}

.nav .right {
    float: right;
    margin-right: -5.5%;
}

.nav .right li {
    font-size: 14px;
    float: left;
}

.nav .right li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .right li a:hover {
    background: #f2f2f2;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}

/****************************MEDIA QUERIES************************************/
@media only screen and (max-width: 640px){
    .nav{
        border-bottom: 1px solid rgba(0,0,0,0.1);
        height: 35px;
        z-index: 999;
    }
    .nav-center{
        width: 100%;
    }
    .toggle-nav{
        display: block;
        padding: 5px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after{
        content: ' Menu';
    }

    .nav-mobile{
        display: none;
    }

    .style-mobile{
        background: #5c5353;
        top : 35px;
        position : absolute;
        width : 100%;
    }

    .style-mobile li{
        display: block;
        width: 100%;
    }

    .nav .right{
        display: block;
        float: none;
        margin: 0em;
    }

    .nav .left{
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px){
    .nav-mobile {
        display:block !important;
    }
}
/*Slide Image*/

.main {

    padding-top: 5em ;
    width: 100vw;
}

.orbit-container {
    width: 100vw;
    height: 90vh;
    padding: 0 auto;
    position: relative;
    margin-top: -3em;
}


.intro-text {
    position: absolute;
    text-transform:capitalize;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.intro-text h2{
    font-family: 'Ruthie', cursive;
    font-size: 7rem;
    font-weight: 650;
    color: white;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.intro-text p{
    color: white;
    text-align: center;
    font-size: 1.5em;
    text-transform: capitalize;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

@media only screen and (max-width: 640px){
    .orbit-container {
        height: 30%;
    }
    .intro-text h2{
        font-size: 3.8rem;
        font-weight: 700;
        }
    .intro-text p{
        font-size: 1.1em;
        font-weight: 600;
    }
}
/*collection*/

h3 {
    text-align: center;
    font-weight: 600;
    color: #292c2f;
}

.row.collection {
    width: 100vw;
    height: 80hv;
    overflow: hidden;
    position: relative;
    align-content: center;
    margin: 0;
    padding: 0;
}

.row.collection .columns{
    margin: 0;
    padding: 0;
}
.collection .image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.collection .image-wrapper img{
    overflow-x: hidden;
    width: 100%;
}

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 0;
    left: 0;
    border: 2px solid rgba(0,150,255,0.91);
    box-sizing: content-box;

}

.overlay-fade-in p{
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 22px;
    opacity: 0;
    transition: all 0.2s linear;
}
.overlay-fade-in h4{
    color: white;
    text-transform: uppercase;
}
.overlay-fade-in img {
    transition: all 0.2s linear;
}

.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
}

.overlay-fade-in h2{
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 30%;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
}

.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #fff;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}

.overlay-fade-in:hover img {
    transform: scale(1.5);
}

.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}

.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}

.overlay-fade-in:hover p {
    transition-delay: 0.1s;
}

.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
}

.image-wrapper img{

}

.image-wrapper img {
    height: 70vh;
    width: auto;
    overflow: hidden;
}
@media only screen and (max-width: 640px){
    .row.collection {
        height: 20%;
    }
}

/*arrivals*/

.arrivals .columns{
    padding: 0;
}
.arrivals {
    width: 100vw;
    height: auto;
    position: relative;
}

.content {
    height: 100%;
    position: relative;
    overflow: hidden;

}
.content .arrival-content{
    opacity: 0;
    background-color: rgba(41, 44, 47, 0.42);
    transition: all 0.4s ease-in-out;
    box-sizing: border-box;
    position: absolute;
}
.content img{
    position: relative;
    overflow: hidden;
    margin-top: -1.9em;
}
.content:hover img{
    transform: scale(1.2)
}
.arrival-content {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    text-align: center;
}
.arrival-content p{
    height: 100%;
    text-align: center;
    font-size: 1.2em;
/*    margin-top: 30%;*/
    font-size: 1.3em;
    font-weight: 600;
}

.arrival-content .button{
    background-color: #292c2f;
    opacity: 0;
/*    position: relative;*/
    display: inline-block;
    transition: all 0.2s ease-in-out;
    margin-top: -30%;
}

.content:hover .arrival-content{
    opacity: 1;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon-text {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
    -webkit-transform: rotate(45deg);
    -moz-transform:    rotate(45deg);
    -ms-transform:     rotate(45deg);
    -o-transform:      rotate(45deg);
    position: relative;
    overflow: hidden;
    padding: 7px 0;
    right: -87%;
    top: 22px;
    width: 9em;
    background-color: #292c2f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#292c2f), to(#292c2f));
    background-image: -webkit-linear-gradient(top, #292c2f, #292c2f);
    background-image:    -moz-linear-gradient(top, #292c2f, #292c2f);
    background-image:     -ms-linear-gradient(top, #292c2f, #292c2f);
    background-image:      -o-linear-gradient(top, #292c2f, #292c2f);
     color: #6a6340;
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    z-index: 999;

}

.ribbon-text:before, .ribbon-text:after{
    content: "";
    border-top:   3px solid #292c2f;
    border-left:  3px solid transparent;
    border-right: 3px solid transparent;
    position:absolute;
    bottom: -3px;
}

.ribbon-text:before {
  left: 0;
}
.ribbon-text:after {
  right: 0;
}

@media only screen and (max-width: 640px){
    .ribbon-text {
        right: -67%;
    }
}
/*footer*/

.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.footer .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
}

.footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
}

.footer .footer-form textarea,
.footer .footer-form input {
    border-radius: 3px;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    color: #d1d2d2;
    padding: 1.3rem;
}

.footer .footer-form label {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
}

.footer .footer-form .submit {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 1rem 3.5rem;
    font-weight: bold;
    float: right;
    margin: 0 1rem 2rem 0;
}

.footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
}

.footer .footer-links a::after {
    content: "•";
    padding: 0 0.2rem 0 0.4rem;
}

.footer .footer-links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
    .footer {
        padding: 4rem;
    }
    .footer p {
        text-align: left;
    }
    .footer .social {
        text-align: left;
        margin: 0;
    }
    .footer .footer-form .contact {
        position: absolute;
        left: -45%;
        top: 10%;
    }
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.logo i {
    margin-right: 0.5rem;
}

/*footer end*/
