* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    /*    background: #f9f2f4;*/
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 3px;
    width: 100vw;
    height: auto;
}

body .container {
    margin: 3px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

ul {
    list-style: none;
}

.nav {
    background: #292c2f;
    min-height: 50px;
}

.nav .left {
    float: left;
    margin-left: 1em;
}

.nav .left li {
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    float: left;
}

.nav .left li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .left li a:hover {
    background: #f2f2f2;
}

.nav .right {
    float: right;
    margin-right: 1em;
}

.nav .right li {
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    float: left;
}

.nav .right li a {
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}

.nav .right li a:hover {
    background: #f2f2f2;
}

.toggle-nav {
    display: none;
}

.nav-mobile style {
    display: block;
}

@media only screen and (max-width: 640px) {
    .nav {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .toggle-nav {
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after {
        content: ' Menu';
    }
    .nav-mobile {
        display: none;
    }
    .style-mobile {
        background: #ffffff;
        top: 51px;
        position: absolute;
        width: 100%;
    }
    .style-mobile li {
        display: block;
        width: 100%;
    }
    .nav .right {
        display: block;
        float: none;
        margin: 0em;
    }
    .nav .left {
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px) {
    .nav-mobile {
        display: block !important;
    }
}


/* columns */


/*
.row.column {
    padding: 0rem;
    margin-bottom: -0.1rem;
    max-height: 50%;
    max-width: 25%;

}

.main .row .column{
    width: 25%;

}

.main .column img{
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.main .row .text{
    position: relative;
    height: auto;
}


.main .row .text h4{
    position: absolute;
    top: 43%;
    color: white;
    float: right;
    text-align: right;
    margin-left: 25%;
    font-weight: bold;
    letter-spacing: -2px;

}

.column.text.center{
    background-color: dimgrey;
}
.main .row .center h4{
    text-align: center;
    float: none;
    margin:auto;
}

.subsmall{
    position: absolute;
    top: 55%;
    color: white;
    text-align: center;
    font-weight: 800;
}

.arrivals{
    text-align: center;
    font-size: 3em;

}*/


/*Slide Image*/

.main {
    padding: 0.5rem;
    margin: 0.3rem;
}

.orbit-container {
    width: 100vw;
    height: 90vh;
    padding: 0.3rem;
}


/*collection*/

h3 {
    text-align: center;
    font-weight: 600;
    color: #292c2f;
}

.row.collection {
    width: 100vw;
    height: 80hv;
    overflow: hidden;
    position: relative;
    align-content: center;
    margin: 3px;
    padding: 0.2em;
}

.collection .image-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.04);
}


/*arrivals*/

.arrivals {
    width: 100vw;
    height: auto;
    padding: 0.2em;
}


/*footer*/

.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}

.footer .social a {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 1.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
}

.footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
}

.footer .footer-form textarea,
.footer .footer-form input {
    border-radius: 3px;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    color: #d1d2d2;
    padding: 1.3rem;
}

.footer .footer-form label {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    font-weight: bold;
}

.footer .footer-form .submit {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 1rem 3.5rem;
    font-weight: bold;
    float: right;
    margin: 0 1rem 2rem 0;
}

.footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 0.875rem;
}

.footer .footer-links a::after {
    content: "•";
    padding: 0 0.2rem 0 0.4rem;
}

.footer .footer-links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
    .footer {
        padding: 4rem;
    }
    .footer p {
        text-align: left;
    }
    .footer .social {
        text-align: left;
        margin: 0;
    }
    .footer .footer-form .contact {
        position: absolute;
        left: -45%;
        top: 10%;
    }
}

.logo {
    color: #fff;
    font-size: 1.5rem;
}

.logo i {
    margin-right: 0.5rem;
}


/*footer end*/

.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 0;
    left: 0;
    border: 1px solid;
}

.overlay-fade-in p{
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 22px;
    opacity: 0;
    transition: all 0.2s linear;
}
.overlay-fade-in h4{
    color: white;
    text-transform: uppercase;
}
.overlay-fade-in img {
    transition: all 0.2s linear;
}

.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all 0.4s ease-in-out;
}

.overlay-fade-in h2{
    color: #f2f2f2;
    font-size: 1.8rem;
    margin-top: 30%;
    opacity: 0;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
}

.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #fff;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}

.overlay-fade-in:hover img {
    transform: scale(1.5);
}

.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}

.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}

.overlay-fade-in:hover p {
    transition-delay: 0.1s;
}

.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
}

.image-wrapper img{

}

.image-wrapper img {
    height: 70vh;
    width: auto;
    overflow: hidden;
}
